html {
  width: 100%;
  font-family: 'IBM Plex Sans', sans-serif;
  --neon: #ccc;
  font-weight: 300;
  font-size: .9rem;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: black;
  color: var(--neon);
  margin: auto;
  max-width: 80em;
  width: 90%;
}

a, a:active, a:visited, a:hover {
  color: #aa0;
}

div#tooltip {
  visibility: hidden;
  position: absolute;
  z-index: 1000;
  border: solid 1px var(--neon);
  background: black;
  text-align: center;
  min-width: 5em;
  max-width: 90vw;
  padding: .4rem;
  border-radius: .4rem;
}

div#tooltip:before {
  content : " ";
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid var(--neon);
  position: absolute;
  bottom: -7px;
  left: calc(50% - 7px);
}

#touchtooltip {
  display: none;
}

@media (hover: none) {
  #touchtooltip {
    display: initial;
  }
}



div.country {
  flex: 0 0 auto;
  min-width: 0;
  padding: .5em 1.5em;
/*  border: solid transparent 1px; */
  border-radius: 5px;
  box-shadow: transparent 0 0 6px;
  color: transparent;
  transition: color 750ms; /*, box-shadow 700ms; */
  margin: 3px 0;
  display: flex;
  flex-direction: column;
}

div.country:hover {
  /*border-color: var(--neon);*/
  color: var(--neon);
}

div.country > div {
  visibility: hidden;
  flex: 0 0 3rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

div.country:hover > div {
  visibility: visible;
}

div.description {
  font-size: 1.4rem;
}

div.country > div.landuse {
/*  flex: 0 2 auto;
 min-width: 10em;
*/
  visibility: visible;
  width: fit-content;
  max-width: 100%;
  margin: .2em auto 0;
  flex-direction: row;
  justify-content: flex-start;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: thin;
  scrollbar-color: var(--neon);
}

div.landuse::-webkit-scrollbar {
  height: .2em;
  border-radius: .25em;
}

div.landuse::-webkit-scrollbar-thumb {
  visibility: hidden;
  background: var(--neon);
  border-radius: 0;
}
div.landuse:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

div.part {
  display: flex;
  flex-direction: row;
  margin: 0 .3em;
  overflow: visible;
  height: 100%;
  cursor: pointer;
}

div.part:first-child {
  margin-left: 0;
}

div.part:last-child {
  margin-right: 0;
}

div.part > a {
  display: block;
}

.i1 { background-color: #008000; }
.i2 { background-color: #0f0; }
.i3 { background-color: #9c0; }
.i4 { background-color: #9f9; }
.i5 { background-color: #396; }
.i6 { background-color: #936; }
.i7 { background-color: #fc9; }
.i8 { background-color: #cfc; }
.i9 { background-color: #fc0; }
.i10 { background-color: #f90; }
.i11 { background-color: #069; }
.i12 { background-color: #ff0; }
.i13 { background-color: #f00; }
.i14 { background-color: #996; }
.i15 { background-color: #fff; }
.i16 { background-color: #808080; }
.i17 { background-color: #000080; }
.i18 { background-color: #48f; } <!-- 18 is fresh -->
.i100 { background-color: #000; } 
.h1 { width: 1px; }
.h2 { width: 2px; }
.h3 { width: 3px; }
.h4 { width: 4px; }
.h5 { width: 5px; }
.h6 { width: 6px; }
.h7 { width: 7px; }
.h8 { width: 8px; }
.h9 { width: 9px; }
.h10 { width: 10px; }

.i1 > div > span:first-child::after { content: " of evergreen needleleaf forest"; }
.i2 > div > span:first-child::after { content: " of evergreen broadleaf forest"; }
.i3 > div > span:first-child::after { content: " of deciduous needleleaf forest"; }
.i4 > div > span:first-child::after { content: " of deciduous broadleaf forest"; }
.i5 > div > span:first-child::after { content: " of mixed forest"; }
.i6 > div > span:first-child::after { content: " of closed shrublands"; }
.i7 > div > span:first-child::after { content: " of open shrublands"; }
.i8 > div > span:first-child::after { content: " of woody savannas"; }
.i9 > div > span:first-child::after { content: " of savannas"; }
.i10 > div > span:first-child::after { content: " of grasslands"; }
.i11 > div > span:first-child::after { content: " of permanent wetlands"; }
.i12 > div > span:first-child::after { content: " of croplands"; }
.i13 > div > span:first-child::after { content: " of urban and built-up"; }
.i14 > div > span:first-child::after { content: " of cropland/natural vegetation mosaic"; }
.i15 > div > span:first-child::after { content: " of snow and ice"; }
.i16 > div > span:first-child::after { content: " of sparsely vegetated land"; }
.i17 > div > span:first-child::after { content: " of sea water"; }
.i18 > div > span:first-child::after { content: " of fresh water"; }
.i100 > div > span:first-child::after { content: " of unknown landuse"; }

div.part > div > div > span:nth-child(2)::before { content: " ["; }
div.part > div > div > span:nth-child(2)::after { content: "]"; }

#btn {
  position: fixed;
  bottom: 1em;
  right: 1.5em;
  width: 1.8em;
  height: 1.8em;
  box-shadow: var(--neon) 0 0 3px;
  color: var(--neon);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: middle;
  text-decoration: none;
}

#btn:hover {
  
}

#about {
  position: fixed;
  backdrop-filter: blur(10px);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}

#about:target {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

#about > div {
  box-shadow: var(--neon) 0 0 8px;

  background-color: black;
  border-radius: 5px;
  width: 50em;
  max-width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1em 2em;
}

.modal-close {
  display: block;
  font-size: 80%;
  position: absolute;
  right: .5em;
  top: .5em;
  width: 1em;
  height: 1em;
  text-decoration: none;
}
